.user-page-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  background-image: url(C:\Users\Gabriel\Workspace\MainProjects\TWEFrontend\src\assets\twitch_banner.jpg);
  /* background-repeat: no-repeat, repeat; */
  /* background-color: #cccccc; */
}

/* Header Content */

.user-page-header-container {
  background-color: #18181b;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
}

.user-page-profile-pic {
  margin-top: 15px;
  justify-self: center;
  align-self: center;
}

.user-page-user-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-page-username {
  justify-self: center;
  align-self: center;
  margin: 10px 0 20px 0;
}

.user-page-user-data {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
}

.user-page-active-events {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.user-page-all-events {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.user-page-active-subscriptions {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.active-events-num {
  justify-self: center;
  align-self: center;
}

.active-subs-num {
  justify-self: center;
  align-self: center;
}

.total-events-num {
  justify-self: center;
  align-self: center;
}
.active-events-num:hover {
  cursor: pointer;
}

.active-events-num:hover .underline-on-hover {
  cursor: pointer;
  opacity: 1;
}

.active-subs-num:hover {
  cursor: pointer;
}

.active-subs-num:hover .underline-on-hover {
  opacity: 1;
}

.total-events-num:hover {
  cursor: pointer;
}

.total-events-num:hover .underline-on-hover {
  opacity: 1;
}

.underline-on-hover {
  opacity: 0;
}

/* Profile Page Content */

.user-page-content-container {
  background-color: #18181b;
  height: 100%;
  width: 95%;
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.user-page-carousel-section {
  width: 100%;
}
