.user-page-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  /* background-color: #1F2124; */
}

/* Header Content */

.user-page-header-container {
  background-color: #1f2124;
  margin-bottom: 10px;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #3a3d45;
  border-radius: 10px;
  border-top: none;
}

/* User Page Content */

.user-page-content-container {
  background-color: #1f2124;
  height: 100%;
  width: 720px;
  padding: 0 25px 0 25px;
  display: flex;
  justify-content: center;
  align-items: end;
  border: 2px solid #3a3d45;
  border-radius: 10px;
}

.user-page-profile-pic {
  margin-top: 15px;
  justify-self: center;
  align-self: center;
}

.user-page-user-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-page-username {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 5px 0;
}

.user-page-user-data {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: end;
}

/* Profile Section */

.user-page-profile-container {
  display: flex;
  height: 100%;
  width: 720px;
}

.user-page-profile-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  /* margin: 15px 35px 35px 35px; */
}
.user-page-profile-description-header {
  margin: 10px 0 0 0;
}

.user-page-profile-description-body {
  margin: 10px 0 0 15px;
}

/* Stream Embed Section */

.twitch-stream-embed {
  margin: 20px 0;
}
