.browse-page-container {
  display: flex;
  flex-direction: column;
  /* margin: 100px; */
  justify-content: center;
    align-items: center;
}

.browse-page-header {
  margin: 20px;
}

/* .browse-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  */
