.twe-shell-content-body {
  background: #101010;
  width: 100vw;
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  z-index: 0;
}

.twe-shell-header {
  background: #18181b;
  width: 100vw;
  height: 55px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.twe-shell-container {
  background: #101010;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  height: calc(100vh - 55px);
  width: calc(100vw);
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101010;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
