.twe-shell-content-body {
  background: #101010;
  width: 100vw;
  height: 700px;
  overflow: auto;
}

.twe-shell-header {
  background: #18181b;
  width: 100vw;
  height: 55px;
  position: fixed;
  top: 0px;
  left: 0px;
}

.twe-shell-container {
  background: #101010;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: calc(100vw);
  height: calc(100vh - 55px);
}
