.mfl-shell-content-body {
    background: #F1F1F3;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
  
  .mfl-shell-container {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: row;
    position: relative;
    width: calc(100vw);
    height: calc(100vh - 1px);
  }
  