.event-details-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-details-page-content {
  height: 100%;
  width: 720px;
  background-color: #1f2124;
  border: 2px solid #3a3d45;
}

.event-details-page-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #3a3d45;
}

.event-details-page-header {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0 30px 0;
}

.event-details-header-display-column {
  display: flex;
  flex-direction: row;
}

.event-details-page-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-details-page-header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.event-details-page-header-text {
  width: 380px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.event-details-page-title-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.event-details-page-image {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
  border-radius: 4px;
}

.event-details-page-description {
  width: 500px;
  margin: 30px 0 0 0;
  overflow: hidden;
}

.event-details-page-edit-event-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-details-page-notification-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bounce {
  animation: bounce 0.1s;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(-2px);
  }
}
