@import "react-datepicker/dist/react-datepicker.css";

.create-event-modal-wrapper {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 804px;
  background-color: #1f2124;
  border-radius: 5px;

  border-top: none;
}

.create-event-active-component {
  height: calc(400px - 52px);
}

.create-event-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3a3d45;
  border-radius: 4px;
  box-shadow: 0 1px 7px black;
}

.create-event-header {
  margin-top: 20px;
  margin-left: 25px;
  margin: 10px 0 10px 25px;
}

.create-event-close-button {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/* Buttons */

.create-event-button-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  align-items: center;
  z-index: 1;
}

.create-event-left-button {
  margin: 0 6px 0 0;
}

.create-event-right-button {
  margin: 0 0 0 6px;
}

.confirm-create-event-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Details */

.create-event-details-centered {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.create-event-component-container {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}

.create-event-component-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 536px;
  z-index: 2;
}

.event-start-time-input {
  z-index: 1;
}

.event-end-time-input {
  z-index: 2;
  margin-top: 10px;
}

.create-event-title {
  display: flex;
  justify-self: center;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}

.date-time-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  color: #aaaaaa;
  margin-top: 10px;
}

.event-date-input:focus {
  border: 2px solid purple !important;
}

.select-event-start-time {
  width: 155px;
  height: 40px;
  text-align: center;
  color: #9AA4B8;
  background-color: #1f2124;
  border: 1px solid #aaaaaa !important;
  border: none;
  border-radius: 4px;
}

.select-event-end-time {
  width: 155px;
  height: 40px;
  text-align: center;
  color: #9AA4B8;
  background-color: #1f2124;
  border: 1px solid #aaaaaa !important;
  border: none;
  border-radius: 4px;
}

.select-event-start-time:hover {
  border: 1px solid #a970ff !important;
}

.select-event-end-time:hover {
  border: 1px solid #a970ff !important;
}

.calendar-day-color {
  color: #aaaaaa !important;
}

.react-datepicker-wrapper {
  display: flex !important;
  justify-content: center !important;
}

.react-datepicker {
  border: 1px solid #18181b !important;
  color: #aaaaaa !important;
  background-color: #18181b !important;
}

.react-datepicker__header__dropdown--scroll {
  z-index: 4;
}
.react-datepicker__month {
  background-color: #101012;
}

.react-datepicker__month-container {
  float: left;
  background-color: #101012;
}

.react-datepicker__header {
  background-color: #101012 !important;
  border-bottom: 1px solid #aaaaaa !important;
}

.react-datepicker-time__header {
  color: #aaaaaa !important;
}
.react-datepicker__current-month {
  color: #aaaaaa !important;
}

.react-datepicker__day-name {
  color: #aaaaaa !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #aaaaaa !important;
}

.react-datepicker__time-list-item {
  color: #aaaaaa;
}

.react-datepicker__time-list {
  background-color: #101012;
}

.react-datepicker__triangle::after {
  border-bottom-color: #101012 !important;
}

.react-datepicker__triangle::before {
  border-bottom-color: #101012 !important;
}

.react-datepicker__time-list-item--selected {
  background-color: #a970ff !important;
  color: #101012 !important;
}

.react-datepicker__day--selected {
  background-color: #a970ff !important;
  color: #101012 !important;
}

.react-datepicker__day:hover {
  background-color: #27272c !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #27272c !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #a970ff !important;
  color: #101012 !important;
}

.react-datepicker__input-container {
  width: 200px !important;
  display: flex !important;
  justify-content: end !important;
}

.react-datepicker__close-icon::after {
  background-color: rgb(173, 7, 7) !important;
}

/* Description */

.create-event-description {
  margin-top: 20px;
}

/* Thumbnail */

.create-event-image-container {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.create-event-image-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-event-image-preview:hover {
  border: 2px solid #a970ff;
}

.create-event-image-preview {
  height: 185px;
  width: 322px;
  margin-top: 5px;
  background-color: #1f2124;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #aaaaaa !important;
}

.create-event-image-preview:hover {
  border: 1px solid #a970ff !important;
}

.image-upload-button {
  width: 100px;
  height: 40px;
  color: #101012;
  background-color: #aaaaaa;
}

.image-upload-button:hover {
  background-color: none;
}

#file-explore-icon-button {
  display: none;
}

#file-explore-button {
  display: none;
}

/* Delete Event Modal */

.delete-event-modal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 200px;
  background-color: #18181b;
  border: 2px solid #414040;
  border-radius: 10px;
  box-shadow: 24px;
  /* padding: 4px; */
}

.delete-event-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  /* margin-left: 10px; */
  margin: 20px 184px 0 10px;
}

.delete-event-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px 80px 20px;
}

.delete-event-modal-buttons {
  display: flex;
  justify-content: start;
  align-items: start;
  /* padding: 10px; */
  margin: 0 0 10px 172px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background: transparent !important;
}
