.carousel {
  width: 100%;
  height: 100%;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.carousel:hover .next {
  display: block;
}

.carousel:hover .prev {
  display: block;
}

.carousel:hover .section-title {
  color: #ffffff;
}

.section-title {
  margin: 30px 0 5px 15px;
  color: #e5e5e5;
}

/* .section-title:hover {
  color: #ffffff;
  cursor: default;
} */

.arrow {
  position: absolute;
  cursor: pointer;
}

.arrow svg {
  /* transition: color 300ms; */
  color: #a265fd;
  background-size: 30px;
  width: 20px;
  height: 20px;
}

.arrow svg:hover {
  /* transition: 0.5s ease-out; */
  color: #a970ff;
  width: 22px;
  height: 22px;
}

.next {
  display: none;
  right: 3%;
  top: 100%;
  z-index: 1;
}

.prev {
  display: none;
  left: 3%;
  top: 100%;
  z-index: 1;
}

.event-card-divider {
  background-color: #464648;
}

.slider-margin {
  margin-bottom: 30px;
}
