.top-nav-container {
  color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-shadow: 5px 1px 8px black;
}

.top-nav-left-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top-nav-center-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.black {
  color: black;
}

.top-nav-right-layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  height: 100%;
}

.top-nav-logo {
  padding-right: 15px;
}

.top-nav-browse {
  margin: 0 20px 0 30px;
}

.top-nav-notifications {
  margin-right: 15px;
}

.MuiMenu-root .MuiMenu-paper {
  background: transparent;
}
