/* User Search Card */

.user-search-card-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.user-search-card-container:hover {
  background-color: #27272c;
}

.user-search-avatar {
  margin-left: 10px;
}

.user-search-display-name {
  margin-left: 10px;
}

/* Event Search Card */

.event-search-card-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.event-search-card-container:hover {
  background-color: #27272c;
}

.event-search-thumbnail {
  margin-left: 10px;
  padding: 8px;
}

.event-search-title {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

/* Empty Search Bar */

.empty-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
