/* User Search Card */

.user-search-card-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-left: 2px solid #18181b;
  padding: 16px 8px 16px 6;
}

.user-search-card-container:hover {
  border-left: 2px solid #9552fa;
  background-color: #2d2d33;
}

.user-search-avatar {
  margin-left: 10px;
}

.user-search-display-name {
  margin-left: 10px;
}

/* Event Search Card */

.event-search-card-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-left: 2px solid #18181b;
  padding: 16px 8px 16px 6;
}

.event-search-card-container:hover {
  border-left: 2px solid #9552fa;
  background-color: #2d2d33;
}

.event-search-thumbnail {
  margin-left: 10px;
  padding: 8px;
}

.event-search-title {
  margin-left: 10px;
}
