*,
*::after,
*::before {
  z-index: 1;
}

.search-drop-down-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 380px;
  background-color: #18181b;
  position: absolute;
  top: 47px;
  border-radius: 8px;
  border: 2px solid #464648;
  border-top: none;
}

.search-bar-container {
  display: absolute;
}

.search-bar-z-index {
  z-index: 1;
}

/* All Search */

.search-data-container {
  height: 352px;
  width: auto;
  overflow: auto;
}
