.card-row-wrapper {
  display: flex;
  flex-direction: row;
}

.card-column-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.card-column-wrapper:hover {
  color: #ffffff;
}

.card-hover-translate {
  transition: transform 0.3s ease-out;
}

.card-hover-translate:hover {
  transform: translateX(3px) translateY(-3px);
  border-radius: 1rem;
}

.event-card {
  height: 185px;
}

.title-creator-timestamp {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.event-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.event-title {
  width: 220px;
  margin-top: 10px;
  font-size: 15px;
  color: #e5e5e5;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.event-title:hover {
  color: #CF5579;
}

.event-creator-name {
  font-size: 11px;
  margin: 3px 0 3px 0;
  color: #aaaaaa;
  font-family: "Rubik", sans-serif;
}

.event-creator-name:hover {
  color: #CF5579;
}

.event-timestamp {
  font-size: 11px;
  color: #aaaaaa;
  font-family: "Rubik", sans-serif;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: #101010 !important;
}

.event-card-details {
  display: flex;
  flex-direction: column;
  color: white;
}

.event-footer__panel-left {
  display: flex;
  flex-direction: row;
}

.event-footer__panel-right {
  /* margin-left: ; */
}

.event-footer__panel-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.event-footer__bell-icon {
  cursor: pointer;
}
